.popup {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.popuptext {
	visibility: hidden;
	background-color: #e5ed00;
	width: 160px;
	color: #000000;
	text-align: center;
	z-index: 1;
	position: absolute;
	bottom: -200%;
	left: 50%;
	margin-left: -80px;
}

.popup .show {
	visibility: visible
}

