body {
	font-family: "Arial", sans-serif;
	background-color: #fc8397;
	text-align: center;
}

h1 {
	font-size: 3.5em;
}

p {
	font-size: 120%;
}

.popup {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: relative;
	display: inline-block;
	cursor: pointer;
}


.popuptext {
	visibility: hidden;
	background-color: #e5ed00;
	color: #000000;
	text-align: center;
	z-index: 1;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	border-style: solid;
	border-color: #00c2fc;
	border-width: 5px;
	font-size: 1.5em;
}

.popup .show {
	visibility: visible;
}

.smalltext {
	font-size: 1em;
}

span img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

span span img {
	width: 85%;
}

h2 {
	font-size: 215%;
}

div#mix64_abil > span > img {
	margin-left: 2px;
	margin-right: 2px;
}

@media only screen and (orientation: landscape) {
	.popuptext {
		width: 25%;
		font-size: 1em;
	}
	.smalltext {
		font-size: 0.75em;
	}
}
